*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0F172A;
    padding: 15px;
}
/* ========================
      || HEADER ||
======================== */
header{
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141c2e;
    border-radius: 20px;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:0 8px 30px rgba(0,0,0,.25);
}
.logo-name{
    color: aliceblue;
    font-size: 30px;
}
.theme{
    font-size: 40px;
    cursor: pointer;
}
.theme:hover{
    transform:rotate(20deg) scale(1.2);
}
/* =======================
    || COMPONENTES ||
========================== */
.components{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 30px;
}
.Balance, .Income, .Expense, .Savings{
    width:100%;
    height: 80px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#3B82F6,#2563EB);;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
} 
.Balance:hover, .Income:hover, .Expense:hover, .Savings:hover{
    background:#2563EB;
    letter-spacing: 0.5px;
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(37,99,235,.35);
}
/* ===========================
     || FUNCTIONS ||
=========================== */
.functions{
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap : 30px;
}
.sort,
.filter{
    width:200px;
    padding:12px 15px;
    border:1px solid #334155;
    border-radius:10px;
    background:#1E293B;
    color:#fff;
    font-size:15px;
    cursor:pointer;
    outline:none;
    transition:0.3s ease;
}

.sort:hover,
.filter:hover{
    border-color:#3B82F6;
}

.sort:focus,
.filter:focus{
    border-color:#3B82F6;
    box-shadow:0 0 0 3px rgba(59,130,246,.25);
}

.sort option,
.filter option{
    background:#1E293B;
    color:#fff;
}
.search{
    display: flex;
    align-items: center;
    width: 320px;
    background: #1E293B;
    border: 1px solid #334155;
    border-radius: 12px;
    overflow: hidden;
    transition: all .3s ease;
}

.search:hover,
.search:focus-within{
    border-color: #3B82F6;
    box-shadow: 0 0 0 3px rgba(59,130,246,.25);
}

.search input{
    flex: 1;
    padding: 12px 15px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
}

.search input::placeholder{
    color: #94A3B8;
}

.s-icon{
    width: 50px;
    height: 45px;
    border: none;
    background: #3B82F6;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: .3s ease;
}

.s-icon:hover{
    background: #2563EB;
}
.Add-Transaction{
    padding:14px 24px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#3B82F6,#2563EB);
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    white-space:nowrap;
    transition:.3s ease;
}

.Add-Transaction:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(59,130,246,.35);
}
/* =======================
   || TRANSACTIONS ||
======================= */
.transactions{
    margin:30px;
    padding:25px;
    background:#ffffff;
    border-radius:18px;
}

.transactions h2{
    color:white;
    margin-bottom:20px;
}
.empty{
    display:flex;
    justify-content:center;
    align-items:center;
    height:180px;

    color:#94A3B8;
    font-size:18px;
}
.Add-Transaction:hover{
    transform:scale(1.04);
}
/* =======================
   || DETAIL-CARD ||
======================= */
.details-card{
    position: absolute;
    top: 90px;
    right: 20px;
    width: 320px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(22,22,22,.95);
    transition: .35s ease;
    animation: pop .35s ease;
}

@keyframes pop{
    from{
        opacity:0;
        transform:translateY(-15px) scale(.95);
    }
    to{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}
.details-card{
    opacity:0;
    visibility:hidden;
}

.details-card.active{
    opacity:1;
    visibility:visible;
}
/* ===========================
   Balance
=========================== */
.balance-card{
    width:360px;
    min-height:240px;
    padding:24px;
    border:2px solid #3B82F6;
    border-radius:20px;

    background:linear-gradient(
        135deg,
        rgba(59,130,246,.12),
        rgba(15,23,42,.95)
    );

    box-shadow:
        0 0 20px rgba(59,130,246,.25),
        0 10px 30px rgba(0,0,0,.35);

    transition:all .35s ease;
}

.balance-card h2{
    color:#60A5FA;
    font-size:24px;
    margin-bottom:18px;
    letter-spacing:.5px;
}

.balance-card .info{
    padding:15px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.balance-card .info:last-child{
    border-bottom:none;
}

.balance-card span{
    color:#CBD5E1;
    font-size:15px;
}

.balance-card strong{
    color:#93C5FD;
    font-size:22px;
    font-weight:700;
}

.balance-card:hover{
    transform:translateY(-6px) scale(1.01);

    box-shadow:
        0 0 35px rgba(59,130,246,.55),
        0 15px 40px rgba(0,0,0,.45);

    border-color:#60A5FA;
}
/* ===========================
   Income
=========================== */
.income-card{
    width:360px;
    min-height:240px;
    padding:24px;
    border:2px solid #22C55E;
    border-radius:20px;

    background:linear-gradient(
        135deg,
        rgba(34,197,94,.12),
        rgba(15,23,42,.95)
    );

    box-shadow:
        0 0 20px rgba(34,197,94,.25),
        0 10px 30px rgba(0,0,0,.35);

    transition:all .35s ease;
}

.income-card h2{
    color:#4ADE80;
    font-size:24px;
    margin-bottom:18px;
    letter-spacing:.5px;
}

.income-card .info{
    padding:15px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.income-card .info:last-child{
    border-bottom:none;
}

.income-card span{
    color:#CBD5E1;
    font-size:15px;
}

.income-card strong{
    color:#86EFAC;
    font-size:22px;
    font-weight:700;
}

.income-card:hover{
    transform:translateY(-6px) scale(1.01);

    box-shadow:
        0 0 35px rgba(34,197,94,.55),
        0 15px 40px rgba(0,0,0,.45);

    border-color:#4ADE80;
}
/* ===========================
   Expense
=========================== */
.expense-card{
    width:360px;
    min-height:240px;
    padding:24px;
    border:2px solid #EF4444;
    border-radius:20px;

    background:linear-gradient(
        135deg,
        rgba(239,68,68,.12),
        rgba(15,23,42,.95)
    );

    box-shadow:
        0 0 20px rgba(239,68,68,.25),
        0 10px 30px rgba(0,0,0,.35);

    transition:all .35s ease;
}

.expense-card h2{
    color:#F87171;
    font-size:24px;
    margin-bottom:18px;
    letter-spacing:.5px;
}

.expense-card .info{
    padding:15px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.expense-card .info:last-child{
    border-bottom:none;
}

.expense-card span{
    color:#CBD5E1;
    font-size:15px;
}

.expense-card strong{
    color:#FCA5A5;
    font-size:22px;
    font-weight:700;
}

.expense-card:hover{
    transform:translateY(-6px) scale(1.01);

    box-shadow:
        0 0 35px rgba(239,68,68,.55),
        0 15px 40px rgba(0,0,0,.45);

    border-color:#F87171;
}
.savings-card{
    width:360px;
    min-height:240px;
    padding:24px;
    border:2px solid #FACC15;
    border-radius:20px;

    background:linear-gradient(
        135deg,
        rgba(250,204,21,.12),
        rgba(15,23,42,.95)
    );

    box-shadow:
        0 0 20px rgba(250,204,21,.25),
        0 10px 30px rgba(0,0,0,.35);

    transition:all .35s ease;
}

.savings-card h2{
    color:#FACC15;
    font-size:24px;
    margin-bottom:18px;
    letter-spacing:.5px;
}

.savings-card .info{
    padding:15px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.savings-card .info:last-child{
    border-bottom:none;
}

.savings-card span{
    color:#CBD5E1;
    font-size:15px;
}

.savings-card strong{
    color:#FDE047;
    font-size:22px;
    font-weight:700;
}

.savings-card:hover{
    transform:translateY(-6px) scale(1.01);

    box-shadow:
        0 0 35px rgba(250,204,21,.55),
        0 15px 40px rgba(0,0,0,.45);

    border-color:#FDE047;
}
/* ===========================
        || MODAL ||
=========================== */

.modal{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.55);
    z-index:1000;
}

.modal.active{
    display:flex;
}

.modal-content{
    position:relative;
    width:430px;
    padding:28px;
    background:rgba(30,41,59,.82);
    border:1px solid rgba(59,130,246,.25);
    border-radius:20px;
    display:flex;
    flex-direction:column;
    gap:18px;
    color:white;
    box-shadow:0 20px 60px rgba(0,0,0,.45);
    animation:popup .35s ease;
}

@keyframes popup{
    from{
        opacity:0;
        transform:translateY(-35px) scale(.92);
    }
    to{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}

.modal-content h2{
    text-align:center;
    font-size:28px;
    margin-bottom:10px;
    letter-spacing:.5px;
}

.modal-content input,
.modal-content select,
.modal-content textarea{
    width:90%;
    padding:13px 15px;
    border:1px solid transparent;
    outline:none;
    border-radius:12px;
    background:#0F172A;
    color:#fff;
    font-size:15px;
    transition:.25s ease;
}
.modal-content select{
    width: 45%;
}
.modal-content input::placeholder,
.modal-content textarea::placeholder{
    color:#94A3B8;
}

.modal-content textarea{
    resize:none;
    height:100px;
}

.modal-content input:hover,
.modal-content select:hover,
.modal-content textarea:hover{
    border-color:#475569;
}

.modal-content input:focus,
.modal-content select:focus,
.modal-content textarea:focus{
    border-color:#3B82F6;
    box-shadow:0 0 12px rgba(59,130,246,.35);
}

.save-btn{
    margin-top:8px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#3B82F6,#2563EB);
    color:white;
    font-size:16px;
    font-weight:700;
    letter-spacing:.5px;
    cursor:pointer;
    transition:.3s ease;
}

.save-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 0 20px rgba(37,99,235,.45);
    background:linear-gradient(135deg,#2563EB,#1D4ED8);
}

.close-btn{
    position:absolute;
    top:15px;
    right:18px;
    width:38px;
    height:38px;
    border:none;
    border-radius:50%;
    background:transparent;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    transition:.3s ease;
}

.close-btn:hover{
    background:#EF4444;
    color:white;
    transform:rotate(90deg) scale(1.05);
}
/* ==========================
      TRANSACTION CARD
========================== */
.transaction-history{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
}

.transaction-card{
    background: rgba(28,28,30,.95);
    border: 1px solid rgba(255,255,255,.08);
    border-left: 5px solid #3b82f6;
    border-radius: 18px;
    padding: 18px;
    transition: all .3s ease;
    box-shadow: 0 0 12px rgba(0,0,0,.25);
}

.transaction-card:hover{
    transform: translateY(-6px) scale(1.01);
    box-shadow: 0 0 20px rgba(59,130,246,.35);
}

/* ==========================
        TOP SECTION
========================== */
.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.left h1{
    font-size:1.2rem;
    color:#fff;
    margin-bottom:5px;
}

.left p{
    color:#9ca3af;
    font-size:.9rem;
}

.right h2{
    font-size:1.6rem;
    font-weight:700;
}


/* ==========================
      BOTTOM SECTION
========================== */
.card-bottom{
    margin-top:18px;
    display:flex;
    justify-content:space-between;
}

.card-bottom span{
    background:#27272a;
    color:#d4d4d8;
    padding:6px 14px;
    border-radius:20px;
    font-size:.85rem;
}
/* ==========================
        ACTION BUTTONS
========================== */
.card-actions{
    margin-top:18px;
    display:flex;
    justify-content:flex-end;
    gap:12px;
}

.edit,
.delete{
    padding:8px 18px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    font-weight:600;
}

.edit{
    color:#22c55e;
    border:1px solid #22c55e;
}

.edit:hover{
    background:#22c55e;
    color:white;
    box-shadow:0 0 15px rgba(34,197,94,.6);
}

.delete{
    color:#ef4444;
    border:1px solid #ef4444;
}

.delete:hover{
    background:#ef4444;
    color:white;
    box-shadow:0 0 15px rgba(239,68,68,.6);
}
/* ==========================
    TRANSACTION HISTORY
========================== */
.transactions{
    margin:30px;
    padding:25px;
    background:linear-gradient(145deg,#182338,#101827);
    border-radius:20px;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.transactions h2{
    
    color:#fff !important;
    font-size:24px;
    margin-bottom:22px;
    letter-spacing:.5px;
}

.transaction-history{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.empty{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:12px;

    min-height:250px;

    border:2px dashed #334155;
    border-radius:18px;

    background:linear-gradient(145deg,#111827,#1E293B);

    color:#94A3B8;
    font-size:18px;
    font-weight:500;

    transition:.3s ease;
}

.empty:hover{
    border-color:#3B82F6;
    box-shadow:0 0 25px rgba(59,130,246,.18);
    transform:translateY(-2px);
}
/* .transactions{
    margin:30px;
    padding:25px;
    background:#141c2e;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.08);
}

.transactions h2{
    color:#fff;
    font-size:24px;
    margin-bottom:20px;
}

.transaction-history{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.empty{
    display:flex;
    justify-content:center;
    align-items:center;
    height:180px;
    color:#94A3B8;
    font-size:18px;
    border:2px dashed #334155;
    border-radius:15px;
    background:#0F172A;
} */
.income-transaction{
    border-left:6px solid #22c55e;
}

.expense-transaction{
    border-left:6px solid #ef4444;
}

.income-amount{
    color:#22c55e;
}

.expense-amount{
    color:#ef4444;
}
/* ======================
  || GOAL BOX ||
====================== */
.goal-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.goal-right{
    display:flex;
    align-items:center;
    gap:12px;
}

.edit-goal{
    width:36px;
    height:36px;
    border:none;
    border-radius:10px;
    background:#3B82F6;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s ease;
}

.edit-goal:hover{
    background:#2563EB;
    transform:scale(1.08);
}
/* ======================
    || PIE CHART ||
====================== */
.analytics{
    width: 90%;
    margin: 30px auto;
    background: #141c2e;
    gap: 300px;
    padding: 20px;
    border-radius: 20px;
}

#myChart{
    width: 100% !important;
    height: 350px !important;
}
.analytics{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:30px;

    margin:30px;
    padding:25px;

    background:#141c2e;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
}

.chartBox{
    flex:2;
}

#myChart{
    width:100% !important;
    height:350px !important;
}

.summarycard{
    flex:1;
    min-width:300px;
    min-height:350px;

    padding:24px;
    border-radius:20px;

    background:linear-gradient(
        135deg,
        rgba(59,130,246,.15),
        rgba(15,23,42,.95)
    );

    border:1px solid rgba(59,130,246,.35);

    box-shadow:
        0 10px 25px rgba(0,0,0,.35),
        0 0 18px rgba(59,130,246,.20);

    transition:.35s;
}

.summarycard:hover{
    transform:translateY(-5px);
}
 /* .chart-empty{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:320px;
    color:#94A3B8;
    font-size:18px;
    border:2px dashed #334155;
    border-radius:15px;
    background:#0F172A;
    text-align:center;
}  */
.chart-empty{
    display:none;   /* Important */
    justify-content:center;
    align-items:center;
    height:320px;
    color:white;
    text-align:center;
}

#myChart{
    width:100%;
    height:320px;
}
/* =========================
     || SUMMARY CARD ||
========================= */
.summarycard{
    min-height:260px;
    padding:24px;
    border-radius:20px;

    background:linear-gradient(
        135deg,
        rgba(59,130,246,.15),
        rgba(15,23,42,.95)
    );

    border:1px solid rgba(59,130,246,.35);

    box-shadow:
        0 10px 25px rgba(0,0,0,.35),
        0 0 18px rgba(59,130,246,.20);

    transition:.35s ease;
}

.summarycard:hover{
    transform:translateY(-6px);
    box-shadow:
        0 15px 35px rgba(0,0,0,.45),
        0 0 30px rgba(59,130,246,.45);
}

.summarycard h2{
    color:#60A5FA;
    font-size:22px;
    margin-bottom:20px;
    text-align:center;
}

.summarycard .item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.summarycard .item:last-child{
    border-bottom:none;
}

.summarycard .item span{
    color:#CBD5E1;
    font-size:15px;
}

.summarycard .item strong{
    color:#fff;
    font-size:18px;
}
/* ===========================
   || BUDGET SECTION ||
=========================== */

/* =========================
        LIGHT THEME
========================= */

body.light-theme{
    background:#F4F7FB;
    color:#1E293B;
}

/* Header */

body.light-theme header{
    background:#FFFFFF;
    border-bottom:1px solid #E2E8F0;
}

body.light-theme .logo-name{
    color:#2563EB;
}

/* Top Cards */

body.light-theme .Balance,
body.light-theme .Income,
body.light-theme .Expense,
body.light-theme .Savings{
    background:#FFFFFF;
    color:#1E293B;
    border:1px solid #D1D5DB;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

body.light-theme .Balance strong,
body.light-theme .Income strong,
body.light-theme .Expense strong,
body.light-theme .Savings strong{
    color:#2563EB;
}

/* Buttons */

body.light-theme .Add-Transaction{
    background:#2563EB;
    color:#fff;
}

body.light-theme .Add-Transaction:hover{
    background:#1D4ED8;
}

/* Search */

body.light-theme .search input,
body.light-theme .filter,
body.light-theme .sort{
    background:#fff;
    color:#1E293B;
    border:1px solid #CBD5E1;
}

/* Analytics */

body.light-theme .analytics{
    background:#FFFFFF;
    border:1px solid #E2E8F0;
}

body.light-theme .analytics h2{
    color:#2563EB;
}

/* Transactions */

body.light-theme .transactions{
    background:#FFFFFF;
    border:1px solid #E2E8F0;
}

body.light-theme .transactions h2{
    color:#2563EB !important;
}

/* Empty State */

body.light-theme .empty,
body.light-theme .chart-empty{
    background:#F8FAFC;
    color:#64748B;
    border:2px dashed #CBD5E1;
}

/* Transaction Cards */

body.light-theme .transaction-card{
    background:#F8FAFC;
    color:#1E293B;
    border:1px solid #CBD5E1;
}

body.light-theme .card-bottom span,
body.light-theme .left p{
    color:#64748B;
}

/* Detail Cards */

body.light-theme .details-card{
    background:#FFFFFF;
    color:#1E293B;
}

/* Summary Card */

body.light-theme .summarycard{
    background:#FFFFFF;
    border:1px solid #CBD5E1;
}

body.light-theme .summarycard h2{
    color:#2563EB;
}

body.light-theme .summarycard .item span{
    color:#475569;
}

body.light-theme .summarycard .item strong{
    color:#0F172A;
}

/* Modal */

body.light-theme .modal-content{
    background:#FFFFFF;
    color:#1E293B;
}

body.light-theme .modal-content input,
body.light-theme .modal-content select{
    background:#F8FAFC;
    color:#1E293B;
    border:1px solid #CBD5E1;
}

body.light-theme .close-btn{
    color:#1E293B;
}